<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Message Detail</h1>
    <div class="details-box">
      <p><strong><%= message.user_name %></strong></p>
      <p><%= message.message_text%></p>
      <p><small><%= message.added.toLocaleString() %></small></p>
    </div>
    <a class="details-return" href="/">Back to all messages</a>
  </body>
</html>
