<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message Detail</h1>
    <p><strong><%= message.user %></strong></p>
    <p><%= message.text %></p>
    <p><small><%= message.added.toLocaleString() %></small></p>
    <a href="/">Back to all messages</a>
  </body>
</html>
